# Git
.git
.gitignore

# Docker
.docker

# Python
example_app/__pycache__/
example_app/*/__pycache__/
example_app/*/*/__pycache__/
example_app/*/*/*/__pycache__/
.env/
.venv/
venv/
.env
.env*
example_app/*/.env
example_app/*/.env*

# Local PostgreSQL data
data/
